"AppBuild"
{
    "AppID" "REPLACE_WITH_APP_ID"
    "Desc" "INTERRO Windows x64"
    "BuildOutput" "..\\steam-build-output"
    "ContentRoot" "..\\out\\INTERRO-win32-x64"

    "Depots"
    {
        "REPLACE_WITH_DEPOT_ID"
        {
            "FileMapping"
            {
                "LocalPath" "*"
                "DepotPath" "."
                "recursive" "1"
            }

            "FileExclusion" "steam_appid.txt"
        }
    }
}
